@page
@model RegisterModel

<div class="row">
    <div class="col-md-4">
        <form id="account" method="post">
            @Html.AntiForgeryToken()
            <h2>Créer un compte</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" />
                <label asp-for="Input.Email" class="form-label">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Name" class="form-control" />
                <label asp-for="Input.Name" class="form-label">Nom d'utilisateur'</label>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" />
                <label asp-for="Input.Password" class="form-label">Mot de passe</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" />
                <label asp-for="Input.ConfirmPassword" class="form-label">Confirmer le mot de passe</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <select asp-for="Input.Role" asp-items="Html.GetEnumSelectList<RoleEnum>()" class="form-select">
                    <option value="0" selected>User</option>
                    <option value="1">Admin</option>
                </select>
                <label asp-for="Input.Role" class="form-label"></label>
                <span asp-validation-for="Input.Role" class="text-danger"></span>
            </div>

            <button type="submit" class="w-100 btn btn-lg btn-primary">Créer le compte</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
