@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div>
    <!-- CONTENU ARTICLE -->
    <h1>Titre article 1</h1>
    <img alt="illustration article" />
    <div>
        Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos
        Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
    </div>

    <!-- SECTION COMMENTAIRES -->
    <div>
        <h3>Commentaires</h3>
        <button>Ajouter un commentaire</button>

        <!-- POSTS -->
        <div>
            <img alt="pp utilisateur" />
            <div>
                <b>Nom utilisateur</b> - [date commentaire]
            </div>
            <div>Contenu commentaire</div>
            <button>Répondre</button>
        </div>
    </div>
</div>