@page
@using Blog.Data
@inject ApplicationDbContext DbContext

@{
    var articles = DbContext.Articles
        .OrderByDescending(c => c.UpdatedDate)
        .ToList();
}

<div>
    <h1>Là où je parle et où je donne mon avis</h1>

    <div>

        <!-- ARTICLES -->
        @foreach (var article in articles)
        {
            // Calcul du nombre de commentaires par article
            var nbComments = DbContext.Comments
                .Where(comment => comment.IdArticle.Equals(article.Id))
                .Count();

            <div class="article">
                <img alt="illustration article" />
                <div>
                    <b>@article.Title</b>
                </div>
                <div>@article.Content</div>
                <a>Lire l'article</a>
                <div>@nbComments</div>
            </div>
        }
    </div>
</div>