@page
@using Blog.Data
@using Microsoft.AspNetCore.Identity
@inject ApplicationDbContext DbContext
@inject SignInManager<IdentityUser> SignInManager

@{
    var articles = DbContext.Articles
        .OrderByDescending(c => c.UpdatedDate)
        .ToList();
}

<div>
    <h1>Là où je parle et où je donne mon avis</h1>

    <div>

        <!-- ARTICLES -->
        @foreach (var article in articles)
        {
            // Calcul du nombre de commentaires par article
            var nbComments = DbContext.Comments
                .Where(comment => comment.IdArticle.Equals(article.Id))
                .Count();

            <div class="article">
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("1"))
                {
                    <div class="article-actions">
                        <button>Editer</button>
                        <button>Supprimer</button>
                    </div>
                    
                }

                <img alt="illustration article" />
                <div>
                    <b>@article.Title</b>
                </div>
                <div>@article.Content</div>
                <a href="/Pages/Article/@article.Id">Lire l'article</a>
                <div>@nbComments</div>
            </div>
        }
    </div>
</div>